<!-- Footer -->

<style>
.footer {
   position: static;
   left: 0;
   bottom: 0;
   width: 100%;
  

   text-align: center;
}
</style>
<footer class="w3-container w3-dark-gray w3-padding-16 footer">
  <h3>Graduate Proofreading</h3>
  <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme-light w3-padding">Go To Top</span>    
    <a class="w3-text-white" href="#Header"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up" style="color: #FFF"></i></span></a>
  </div>
  <br>
  <br>
<p>Website design and development by <a href="http://www.lukepilkington.com">www.lukepilkington.com</a></p>
</footer>