<!-- Hidden Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center " style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme"></h1>
  <div style="overflow:hidden;"><button class="w3-button w3-display-topright" onclick="w3_close()"> <i class="fas fa-times"></i></button>
  </div>
  <div style="overflow:hidden;">
  <a href="#" class="w3-bar-item w3-button" >Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
  </div>
</nav>

  <!--small screens (breaks page functionality)

<nav class="w3-main w3-collapse w3-sidebar w3-hide-large w3-hide-med w3-dark-gray">
</nav>
-->

<!-- ====================================================
                   | MAIN NAV BAR |
========================================================
 -->

<div class="w3-bar w3-left w3-dark-gray" style="width:100%;height:44px;display: block; overflow: hidden">
      
    <button class="w3-bar-item w3-button w3-left" onclick="w3_open()" title="Sidebar"> <i class="fas fa-bars fa-2x"> </i> </button>
    <span id="nav-right-btn-margin" class="w3-bar-item w3-right w3-hide-small" style="margin-right: 30px;"> </span>
    <a class="w3-round w3-button w3-right w3-theme w3-hide-small" href="{% url 'signup' %}" title="Sign Up" style="height:84%; margin:auto 0;">BECOME A PROOFREADER</a>
    
      <!--mobile signup button-->
        <a class="w3-round w3-button w3-right w3-theme w3-hide-med w3-hide-large" href="{% url 'signup' %}" title="Sign Up" style="height:70%; margin:auto 0; line-height: 1em">BECOME A PROOFREADER</a> 

      {% if request.user.is_authenticated %} 
      {% include "logoutbutton.html" %}
      {% else %}
      {% include "loginbutton.html" %}
      {% endif %}
    <!-- SPARE BUTTONS
    <a class="w3-bar-item w3-button w3-right" href="#" title="#"></a>
    <a class="w3-bar-item w3-button w3-right" href="#" title="#"></a>
    -->
</div>