{% extends "base.html" %}
{# TO DO:
	@ create view to show 20 posts at a time, with buttons to scroll prev/next
	@ CREATE FILTER FOR VIEWING POST LIST
	@style 'empty' templatetag
#}

{% block header %}
{% endblock header %}

{% block content %}

<style>
	#jobpoststack {
		/*margin: 0% 6% 1% 30%*/

		
	}
	#jobtoppadding {
		margin: 0px 0px 90px 0px;
	}
	
</style>

<div id="jobtoppadding">
	<br>
</div>

<div class="w3-dropdown-hover w3-right" style="margin-right:6%">
	<h5>
	<a href="#" class="w3-button" title="" style="text-decoration: none;">Filter <i class="fas fa-caret-down"></i></a>
	</h5>
	<div id="filter" class="w3-dropdown-content w3-bar-block w3-border">
		<a href="#" class="w3-bar-item w3-button">BLah</a>
		<a href="#" class="w3-bar-item w3-button">Blah</a>
		<a class="w3-bar-item w3-button" href="" title="">Blah</a>
	</div>
</div>

<div id="jobtoppadding">
	<br>
</div>
<div id="jobpoststack">
	{% for job in latest_post_list %}
    {% include 'jobpost.html' with  job=job %}
</div>

{% empty %}
<!-- this needs styling-->
<p>no posts</p>

{% endfor %} 

{% endblock content %}


