{% extends "base.html" %}
{# TO DO:
	@ create view to show 20 posts at a time, with buttons to scroll prev/next
	@ CREATE FILTER FOR VIEWING POST LIST
	@style 'empty' templatetag
#}

{% block header %}
{% endblock header %}

{% block content %}

<style>
	#jobpoststack {
		/*margin: 0% 6% 1% 30%*/

		
	}
	#jobtoppadding {
		margin: 0px 0px 90px 0px;
	}
	
</style>

<div id="jobtoppadding">
	<br>
</div>

<div id="jobpoststack">
	{% for job in latest_post_list %}
    {% include 'jobpost.html' with  job=job %}
</div>

{% empty %}
<!-- this needs styling-->
<p>no posts</p>

{% endfor %} 

{% endblock content %}
