{% extends "base.html" %}

{% block content %}


{% comment %} <!--large screens-->	
	{% include "sidenav.html" %}
	<div class="w3-hide-small" style="margin:20% 0 0 30%; position:absolute; background-color: #00aac1">
	
	{% for post in posts %}
		{% include "jobpost.html" %}
	{% endfor %}

</div>

<!--mobile container-->
	<div class="w3-hide-medium w3-hide-large" style="position:relative; padding-top: 44px;">

	{% for post in posts %}
	{{ JobPost }}
	{% endfor %}

</div> {% endcomment %}

{% if latest_post_list %}
    <ul>
    {% for post in latest_post_list %}
		<li>{{ JobPost }}</li>
	{% endfor %}
    </ul>
{% else %}
    <p>No posts are available.</p>
{% endif %}


{% endblock content %}
