{% extends "base.html" %}


    {% block head_css_section %}
        <style type="text/css">
          body {
            background-color: #00aac1;
          }

			  </style>
    {% endblock head_css_section %}

{% block header%}
{% endblock header %}

{% block content %}
<div style="min-height:100%;">
 
  <div class="w3-center" style="padding-top: 50px">
  
  </div>
<h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>

</div>
{% endblock content %}